.u-contextmenu-colored .blocklyContextMenu {
  background-color: var(--u-contextmenu-bg) !important;
  border-color: var(--u-contextmenu-border);
}
.u-contextmenu-colored .blocklyContextMenu .goog-menuitem-highlight,
.u-contextmenu-colored .s3dev-mi:hover {
  background-color: var(--u-contextmenu-hover) !important;
  border-color: transparent !important;
}
.u-contextmenu-colored .blocklyContextMenu .goog-menuitem[style*="border-top"] {
  border-top-color: var(--u-contextmenu-border) !important;
}
.u-contextmenu-colored .blocklyContextMenu .goog-menuitem .goog-menuitem-content {
  color: var(--u-contextmenu-text);
}
